.hw-main{
    background-color: #f5ea76;
    padding-top: 80px;
    padding-bottom: 100px;
}
h2{
    margin-bottom: 10px;
}
p{
    
    margin-left: 190px;
    margin-right: 190px;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .hw{
      width: 70%;
      border: 2px solid black;
      
      margin: auto;
  }
  h5{
      color: teal;
  }
  #standard-secondary{
      margin-right: 15px;
  }
  #outlined-basic{
      margin-top: 80px;
  }
  .assign-h5{
      padding-bottom: 20px;
  }
  p{
      padding-bottom: 20px;
  }
