.collapsible-link {
	width: 100%;
	position: relative;
	text-align: left;
}
.card-body{
	color: black;
}
.collapsible-link::before {
	content: "\f107";
	position: absolute;
	top: 50%;
	right: 0.8rem;
	transform: translateY(-50%);
	display: block;
	font-family: "FontAwesome";
	font-size: 1.1rem;
}

.collapsible-link[aria-expanded="true"]::before {
	content: "\f106";
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
	background: #f0ecfc;
	background: -webkit-linear-gradient(to left, #c797eb, #f0ecfc);
	background: linear-gradient(to left, #c797eb, #f0ecfc);
	/* background-color: #f0ecfc;
	background-image: -webkit-linear-gradient(320deg, #c797eb 0%,  #f0ecfc 30%);

    background-image: linear-gradient(320deg, #c797eb 0%,  #f0ecfc 30%); */
	min-height: 100vh;
	/* background-repeat: no-repeat; */
}