.mod2-main {
	background-color: #f5fcff;
	background: url(../../images/bulb.jpeg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.intro-cont-mod2 {
	padding-top: 250px;
	padding-bottom: 250px;
}
.imageSrc {
	position: "absolute";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: "cover";
	background-position: "center 40%";
}
