.mind-main{
    background-color: #DBF3FA;
}
.mind-h5{
    color: black;
    padding-bottom: 20px;
}
.para1{
    padding-top: 30px;
}
.para2{
    padding-bottom: 30px;
}
.act-mind{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin-left: 120px;
    margin-right: 120px;
}