.hw3-main {
	background-color: #ffa5d2;
	padding: 50px;
	box-shadow: inset 0 0 20px #000000;
}
.hw3-cont {
	text-align: center;
	background-color: #ffa5d2 !important;
	padding: 40px;
	box-shadow: 0 2.8px 22px rgba(0, 0, 0, 0.034),
		0 6.7px 53px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 179px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.hw3-text {
	border: none;
	text-align: center;
	padding: 60px;
	width: 80%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
	display: block;
	width: 74%;
	padding: 10px;
	border-radius: 5px;
}