/** @format */

.opti-main {
	background-color: #ffd2e8;
	padding: 50px;
	box-shadow: inset 0 0 20px #000000;
}

.opti-cont {
	background-color: #ffd2e8 !important;
	padding-bottom: 50px;
	box-shadow: 0 2.8px 22px rgba(0, 0, 0, 0.034),
		0 6.7px 53px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 179px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	text-align: center;
}

.rectangle1 {
	width: 75%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: relative;
	z-index: 1;
	margin-left: 13%;
	margin-bottom: 45px;
}

/* Popup arrow */
.rectangle1::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 100%;
	left: 45%;
	margin-left: -5px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid rgba(255, 255, 255, 0.8);
}

.rectangle3 {
	width: 75%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: relative;
	z-index: 1;
	margin-left: 13%;
	margin-bottom: 45px;
}

.rectangle2 {
	width: 75%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: relative;
	z-index: 1;
	margin-left: 13%;
	margin-bottom: 45px;
}

/* Popup arrow */
.rectangle2::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 100%;
	left: 45%;
	margin-left: -5px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid rgba(255, 255, 255, 0.8);
}
