*{
	text-align: center;
	

}
.home-main {
	/* background-color: #ffffe6; */
	background-image: url("../images/flower.png"); 
	background-repeat: no-repeat;
	background-size: 1500px 900px;
	/* position: relative; */
	text-align: center;

}
.container-home{
	/* position: absolute; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	padding-top:270px;
    padding-bottom: 320px;
	
}
.home-text{
	color: white;
	border: none;
	border-radius: 5px;
	padding: 50px;
	width: 40%;
	transform: translate(80%, 0%);
	background: rgba(0, 0, 0, 0.5);
}